extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h2 Dynamic content

  p The library has the following record counts:

  ul.list-group
    li.list-group-item #[strong Books:] !{book_count}
    li.list-group-item #[strong Copies:] !{book_instance_count}
    li.list-group-item #[strong Copies available:] !{book_instance_available_count}
    li.list-group-item #[strong Authors:] !{author_count}
    li.list-group-item #[strong Genres:] !{genre_count}
